.build, .buildTime, .buildDate, .buildInfo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.buildInfo > div > div {
    gap: 0.2rem;
}

.build p {
    margin: 0;
}

.buildDetails, .buildInfo, .buildList {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.buildList {
    margin-top: 1rem;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.build {
    align-items: flex-start;
    padding: 12px 24px;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    transition: all .1s linear;
}

.build:hover {
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.buildDetails {
    height: 100%;
    margin-left: auto;
    opacity: 0.65;
    width: 110px;
}

.buildNumber {
    font-size: var(--big-middle-text);
    font-weight: bold;
}

.success {
    color: var(--green);
}

.fail {
    color: var(--red);
}

.process {
    color: var(--yellow);
}

.buildLowInfo, .buildDetails {
    font-size: var(--small-text);
}

.buildMessage {
    font-size: var(--middle-text);
}

.githubRepo {
    color: black;
}
.buildButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 320px) {
    .build {
        display: grid;
        grid-template-columns: 24px auto;
        grid-template-rows: 1fr auto;
    }
    .buildDetails  {
        margin: 0.2rem 0 0.5rem;
        padding: 0.2rem 0 0;
        width: auto;
        grid-column: 2;
        grid-row: 2;
        flex-direction: row;
        border-top: var(--default-color) solid 1px;
        justify-content: start;
    }

    .build > svg {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    .buildUpInfo {
        flex-direction: column !important;
        align-items: start !important;
    }

    .buildLowInfo {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .buildAuthorContainer {
        flex-grow: 1;
    }

    .buildButtons {
        gap: 0.5rem;
    }
}