@import url('https://yastatic.net/s3/frontend/yandex-font/v0.0.2/browser.css');

body {
    margin: 0;
    font-family: 'YS Text', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    text-align: center;
}

:root {
    --action-color: #FFCC00;
    --default-color: #E6E6E6;
    --accent-color: #7F8285;
    --disabled-color: #F2F2F2;
    --border-color: #B38F00;
    --border-default-color: #B3B3B3;
    --small-text: 13px;
    --middle-text: 15px;
    --big-middle-text: 18px;
    --big-text: 24px;
    --green: #00B341;
    --red: #FF3333;
    --yellow: #FF9A00;
    --z-modal: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1 0 auto;
    max-width: 825px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

a {
    outline: none;
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: #E00000;
}

::placeholder {
    opacity: .2;
}

@media (max-width: 320px) {
    .wrapper {
        width: auto;
    }

    .content {
        margin: 0 16px;
    }
}
